---
import { PLAYER_CHAR_LIMITS } from "../config";
---

<style>
  form {
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;

    & input,
    & button {
      border-radius: 0.5rem;
      padding: 0.75rem;
      border: 1px solid #ccc;
    }

    & button {
      padding: 0.75rem 1rem;
    }

    & input {
      flex-grow: 1;
    }

    & .error {
      flex-basis: 100%;
      flex-shrink: 0;
      color: red;
      text-align: left;
    }
  }
</style>
<add-player-form>
  <form action="#" autocomplete="off">
    <input
      type="text"
      id="add-player-name"
      placeholder="Player initials"
      pattern={`[a-zA-Z]{${PLAYER_CHAR_LIMITS.min},${PLAYER_CHAR_LIMITS.max}}`}
      maxlength={PLAYER_CHAR_LIMITS.max}
      required
    />
    <button type="submit">Add Player</button>
  </form>
</add-player-form>
<script>
  import Player from "../classes/Player";
  import { PLAYER_COLORS } from "../config";

  class AddPlayerForm extends HTMLElement {
    constructor() {
      super();
      const form = this.querySelector("form") as HTMLFormElement;
      const colors = [...PLAYER_COLORS];

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        const playerName = (
          form.querySelector("#add-player-name") as HTMLInputElement
        ).value;

        form.dispatchEvent(
          new CustomEvent("add-player", {
            detail: { playerName },
            bubbles: true,
            composed: true,
          }),
        );
        form.reset();
      });
    }
  }
  customElements.define("add-player-form", AddPlayerForm);
</script>
