---
import { PLAYER_CHAR_LIMITS } from "../config";
import Scoreboard from "./Scoreboard.astro";
---

<style is:global>
  #tally-component {
    text-align: center;
    width: 100%;
    max-width: 40rem;

    & header {
      gap: 0.5rem;

      & * {
        margin: 0;
      }
    }

    &:not([step="start"]) {
      & #start,
      & #add-player-form {
        display: none;
      }
    }

    &[step="start"] {
      & #next {
        display: none;
      }
    }

    &[step="end"] {
      & #start,
      & #next,
      & add-player-form {
        display: none;
      }
      & #sum {
        display: flex;
      }
    }
  }

  #tally-action {
    gap: 0.5rem;
  }

  #add-player-form {
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;

    & input,
    & button {
      border-radius: 0.5rem;
      padding: 0.75rem;
      border: 1px solid #ccc;
    }

    & button {
      padding: 0.75rem 1rem;
    }

    & input {
      flex-grow: 1;
    }

    & .error {
      flex-basis: 100%;
      flex-shrink: 0;
      color: red;
      text-align: left;
    }
  }

  #error {
    flex-basis: 100%;
    flex-shrink: 0;
    color: red;
    text-align: left;
    font-size: 0.9rem;
  }

  #instructions {
    font-size: 0.8rem;
  }

  .btn-full {
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 0.75rem 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    align-self: stretch;
  }
</style>
<seven-wonders-tally id="tally-component">
  <header id="step-header">
    <h2 id="step-title">Step 1: Add Players</h2>
    <p id="instructions">
      Up to {PLAYER_CHAR_LIMITS.max} chars, letters only, no spaces
    </p>
  </header>
  <section id="tally-action">
    <form id="add-player-form" action="#" autocomplete="off">
      <input
        type="text"
        id="add-player-name"
        placeholder="Player initials"
        pattern={`[a-zA-Z]{${PLAYER_CHAR_LIMITS.min},${PLAYER_CHAR_LIMITS.max}}`}
        maxlength={PLAYER_CHAR_LIMITS.max}
        required
      />
      <button type="submit">Add Player</button>
    </form>
    <button role="button" id="start" class="btn-full" disabled>Start</button>
    <div id="error" class="hide"></div>
  </section>
  <Scoreboard />
  <button role="button" class="btn-full" id="next">Next</button>
</seven-wonders-tally>
<script>
  import { PLAYER_LIMIT, SCORE_SEGMENTS } from "../config";

  class SevenWondersTally extends HTMLElement {
    step = "start";
    static observedAttributes = ["step"];
    constructor() {
      super();
    }

    connectedCallback() {
      this.setAttribute("step", "start");
      const startBtn = this.querySelector("#start") as HTMLButtonElement;
      const nextBtn = this.querySelector("#next") as HTMLButtonElement;
      const addPlayerForm = this.querySelector(
        "#add-player-form",
      ) as HTMLFormElement;

      addPlayerForm.addEventListener("submit", this.handleAddPlayer.bind(this));

      window.addEventListener("error", this.handleError.bind(this));

      startBtn.addEventListener("click", this.handleStartClick.bind(this));

      nextBtn.addEventListener("click", this.handleNextClick.bind(this));
    }

    handleError(e: ErrorEvent) {
      e.preventDefault();
      const error = this.querySelector("#error") as HTMLElement;
      error.textContent = e.error.message;
      error.classList.remove("hide");
    }

    handleStartClick(e: Event) {
      e.preventDefault();
      this.setStep("0");
      this.removeError();
    }

    handleNextClick(e: Event) {
      e.preventDefault();
      const step = parseInt(this.getAttribute("step")!);
      if (isNaN(step)) {
        this.setStep("start");
        return;
      }
      if (step === SCORE_SEGMENTS.length - 1) {
        this.setStep("end");
        return;
      }
      const nextStep = String(step + 1);
      this.setStep(nextStep);
    }

    removeError() {
      const error = this.querySelector("#error") as HTMLElement;
      error.textContent = "";
      error.classList.add("hide");
    }

    handleAddPlayer(e: SubmitEvent) {
      e.preventDefault();
      const form = e.target as HTMLFormElement;
      const playerName = (
        form.querySelector("#add-player-name") as HTMLInputElement
      ).value;

      this.removeError();
      const scoreboard = document.querySelector(
        "seven-wonders-scoreboard",
      ) as HTMLElement;
      const players = (scoreboard.getAttribute("players") || "")
        .split(",")
        .filter((n) => n);

      if (players.includes(playerName)) {
        throw new Error("Name already in use! Please choose a different name.");
      }
      players.push(playerName);
      scoreboard.setAttribute("players", players.join(","));
      if (players.length > 2) {
        this.querySelector("#start").removeAttribute("disabled");
      }
      if (players.length === PLAYER_LIMIT) {
        form.classList.add("hide");
      }
      form.reset();
    }

    setStep(step: string) {
      this.setAttribute("step", step);
      const scoreboard = this.querySelector(
        "seven-wonders-scoreboard",
      ) as HTMLElement;
      scoreboard.setAttribute("step", step);
    }

    attributeChangedCallback(name: string, oldValue: string, newValue: string) {
      if (name === "step") {
        const titleEl = this.querySelector("h2") as HTMLElement;
        const instructionEl = this.querySelector(
          "#instructions",
        ) as HTMLElement;
        const index = parseInt(newValue);
        if (isNaN(index)) return;
        const segment = SCORE_SEGMENTS[index];
        titleEl.textContent = segment.name;
        instructionEl.textContent = segment.description;
      }
    }
  }
  customElements.define("seven-wonders-tally", SevenWondersTally);
</script>
