---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style is:global>
      html {
        padding: 1px;
        height: 100%;
        background-color: antiquewhite;
      }
      body {
        padding: 1px;
        margin: 0.5rem;
      }

      body,
      body * {
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
      }

      .hide {
        display: none !important;
      }
    </style>
    <slot />
  </body>
</html>
